<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add New Blog</h1>
<!-- views/admin/add-blog.ejs -->
<form action="/admin/blogs" method="POST" enctype="multipart/form-data">
  <div>
      <label>Title</label>
      <input type="text" name="title" required>
  </div>
  <div>
      <label>Content</label>
      <textarea name="content" required></textarea>
  </div>
  <div>
      <label>Image</label>
      <input type="file" name="image" accept="image/*" required> <!-- Make image input required -->
  </div>
  <button type="submit">Add Blog</button>
</form>


</body>
</html>